In [15]:
import pyspark

In [16]:
import pandas as pd

In [17]:
pd.read_csv('Excel_1.csv')

        Name  Age
0      Krish   31
1  Sudhanshu   30
2      Sunny   29

In [18]:
#Create a PySpark session

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [21]:
spark

In [27]:
df_pyspark = spark.read.csv('Excel_1.csv')

In [23]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [24]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [31]:
df_pyspark = spark.read.option('header', 'true').csv('Excel_1.csv')

In [32]:
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [33]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [36]:
df_pyspark.head(2)

[Row(Name='Krish', Age='31'), Row(Name='Sudhanshu', Age='30')]

In [ ]:
df_pyspark.printSchema()    #Similar to df.info()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)