In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [40]:
# Read the DataSet 
df_pyspark = spark.read.option('header', 'true').csv('Excel_1.csv', inferSchema=True)

In [41]:
#Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [42]:
df_pyspark = spark.read.csv("Excel_1.csv", header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [43]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [44]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [45]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [46]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [47]:
df_pyspark.select('Name').show()
print("The datatype of only one column is:")
type(df_pyspark.select('Name'))

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

The datatype of only one column is:

pyspark.sql.classic.dataframe.DataFrame

In [48]:
df_pyspark.select('Name', 'age').show()
print("The datatype of two columns is:")
type(df_pyspark.select('Name', 'age'))

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

The datatype of two columns is:

pyspark.sql.classic.dataframe.DataFrame

In [49]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [50]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [51]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [52]:
#Adding columns in DataFrames
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience'] + 2)

In [53]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [54]:
#Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [55]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [58]:
#Rename the columns
df_pyspark = df_pyspark.withColumnRenamed('Name', 'New Name')

In [59]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+